<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itpvt.footlib">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.itpvt.footlib.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.itpvt.footlib.All_Products_Design"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.itpvt.footlib.FullScreenImage"
            android:screenOrientation="portrait" />
        <activity android:name="com.itpvt.footlib.Sub_Categories" />
        <activity
            android:name="com.itpvt.footlib.My_Cart"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itpvt.footlib.Check_Out"
            android:screenOrientation="portrait" />
        <activity android:name="com.itpvt.footlib.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.itpvt.footlib.ProductDetails"
            android:screenOrientation="portrait"/>
        <activity android:name="com.itpvt.footlib.Nothing"
            android:screenOrientation="portrait"/>
        <activity android:name="com.itpvt.footlib.ItemRemoved"
            android:screenOrientation="portrait"/>
        <activity android:name="com.itpvt.footlib.Casual"
            android:screenOrientation="portrait"/>
        <activity android:name="com.itpvt.footlib.Formal"
            android:screenOrientation="portrait"/>
        <activity android:name="com.itpvt.footlib.Sandals"
            android:screenOrientation="portrait"/>
        <activity android:name="com.itpvt.footlib.none"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>